*{margin:0;
padding:0;}
#table ul{list-style:none;
z-index:1000; }
#table ul li{background-color:purple;
border:2px solid white;
width:220px;
height:40px;
text-align:center;
line-height:40px;float:left;
position:relative;}

#table ul li a{text-decoration:none;
color:white;
display:block;
}
#table ul li a:hover{background-color:red;}
#table ul ul{position:absolute;
display:none;}
#table ul li:hover>ul{display:block;}